<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Add employee</h2>
    </div>
    <div class="panel-body">
        <ng-form name="employeeAddForm">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.firsName.$invalid }">                        <label for="lastName">First Name:</label>
                        <input type="text" id="firsName" name="firsName" class="form-control" ng-model="employee.firsName" class="form-control" required
                               placeholder="First Name">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.lastName.$invalid }">
                        <label for="lastName">Last Name:</label>
                        <input type="text" id="lastName" name="lastName" class="form-control" ng-model="employee.lastName" class="form-control" required
                               placeholder="Last Name">

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.email.$invalid }">
                        <div class="form-group">

                            <label for="email">Email:</label>
                            <input type="text" id="email" name="email" class="form-control" ng-model="employee.email" class="form-control" required
                                   placeholder="Email">

                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.phoneNumber.$invalid }">
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number:</label>
                            <input type="text" id="phoneNumber" name="phoneNumber" class="form-control" ng-model="employee.phoneNumber" class="form-control" required
                                   placeholder="Phone Number">

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.hireDate.$invalid && employeeAddForm.hireDate.$dirty }">
                        <label for="hireDate">Hire Date:</label>
                        <input type="text" id="hireDate" name="hireDate" class="form-control" ng-model="employee.hireDate"
                               placeholder="Hire Date" required  ng-pattern="datePattern">
                        <span class="help-block" ng-show="employeeAddForm.hireDate.$error.required
                             && employeeAddForm.hireDate.$dirty">{{requiredErrorMessage}}</span>
                        <span class="help-block" ng-show="employeeAddForm.hireDate.$error.pattern
                             && employeeAddForm.hireDate.$dirty">{{patternDateNotRespectedMessage}}</span>
                    </div>
                </div>
                <div class="col-lg-6">
                        <div class="form-group" ng-class="{ 'has-error': employeeAddForm.jobTitle.$invalid }">
                            <label for="jobTitle">Job Title:</label>
                            <select id="jobTitle" ng-model="employee.jobTitle" name="jobTitle" class="form-control" required
                                    ng-options="job.jobTitle for job in jobs track by job.jobId" ></select>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.salary.$invalid }">
                        <label for="email">Salary:</label>
                        <input type="text" id="salary" name="salary" class="form-control" ng-model="employee.salary"  required
                               placeholder="Salary">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.commissionPct.$invalid && employeeAddForm.commissionPct.$dirty }">
                        <label for="commissionPct">Commission:</label>
                        <input type="text" id="commissionPct" name="commissionPct" class="form-control" ng-model="employee.commissionPct"
                               placeholder="Commission" ng-pattern="commissionPattern" required>
                         <span class="help-block" ng-show="employeeAddForm.commissionPct.$error.required
                             && employeeAddForm.commissionPct.$dirty">{{requiredErrorMessage}}</span>
                         <span class="help-block" ng-show="employeeAddForm.commissionPct.$error.pattern
                             && employeeAddForm.commissionPct.$dirty">{{patternCommisionNotRespectedMessage}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <!--TODO#HR3-->
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.department.$invalid }">
                        <label for="department">Department:</label>
                        <select id="department" ng-model="employee.departmentId" name="department" class="form-control" required
                                ng-options="department.departmentName for department in departments track by department.departmentId"></select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group" ng-class="{ 'has-error': employeeAddForm.manager.$invalid }">
                        <label for="manager">Manager:</label>
                        <select id="manager" ng-model="employee.managerId" name="manager" class="form-control" required
                                ng-options="manager.firstName+' '+ manager.lastName for manager in managers track by manager.employeeId">
                        </select>
                    </div>
                </div>

            <div class="row">
                <div class="col-md-7">
                    <div class="container">
                        <a class="btn btn-primary btn-lg" role="button" ng-click="reset()">Reset</a>
                        <a class="btn btn-primary btn-lg" role="button" ng-click="create()">Save</a>
                        <button class="btn btn-default" ng-click="back()">Back</button>

                    </div>
                </div>
            </div>
            </div>
        </ng-form>
    </div>
</div>